; SPDX-FileCopyrightText: 2022 Pepijn de Vos
;
; SPDX-License-Identifier: MPL-2.0

;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.3.0"]
  [org.clojars.pepijndevos/hipflask "0.10.4"]]

 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target :esm
   :output-dir "public/js"
   :modules {:common {}
             :editor {:init-fn nyancad.mosaic.editor/init :depends-on #{:common}}
             :libman {:init-fn nyancad.mosaic.libman/init :depends-on #{:common}}
             :filestore {:init-fn nyancad.mosaic.filestore/init :depends-on #{:common}}
             :anywidget {:exports {render nyancad.mosaic.anywidget/render} :depends-on #{:common}}}
   :compiler-options {:output-feature-set :es2018}
   :build-hooks [(nyancad.mosaic.build-hooks/marimo-export-hook)]}}}
