;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.0.0"]
  [org.clojars.pepijndevos/hipflask "0.7.0"]]

 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target :browser
   :compiler-options {:infer-externs :auto :optimizations :advanced}
   :modules {:main {:entries [nyancad.mosaic.editor nyancad.mosaic.libman]}}}}}
