---
---

@import "{{ site.theme }}";

#header_wrap.outer {
  background-image: url("/Mosaic/Mosaic Logo Designs/Final Designs/Mosiac Logo.png");
  background-repeat: no-repeat;
  background-position: 50% -50px;
}

h1#project_title, h2#project_tagline {
  display: none;
}

body, #header_wrap.outer, #footer_wrap.outer {
    background-color: #0e1a32;
}

#header_wrap .inner {
	padding: 250px 10px 0 10px;
}

#menu {
  border-top: 1px solid grey;
}

#menu a {
	margin: 0.5em;
	display: inline-block;
	padding: 10px 50px 10px 10px;
	color: #fff;
	background: #0090ff no-repeat 95% 50%;
}

#menu a.forkme_link {
	background-image: url('../images/blacktocat.png');
}

#menu a.dowload_link {
	background-image: url('../images/icon_download.png');
}
