---
---

@import "{{ site.theme }}";

#header_wrap.outer {
  background-image: url("/Mosaic/Mosaic Logo Designs/Final Designs/Mosiac Logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

h1#project_title, h2#project_tagline {
  visibility: hidden;
}

body, #header_wrap.outer, #footer_wrap.outer {
    background-color: #0e1a32;
}
